auto-save-list/
recentf
.last-package-update-day
elpa/
el-get/
eshell/
session*
.python-environments/
.sx/
.emacs*
.mc-lists.el
nov-places
request/
url/
tramp
init.elc
/projectile-bookmarks.eld
/#init.el#
/bookmarks
doc/auto
*.aux
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.gz
*.toc
